<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">
		<div>

			<div class="table-responsive">
				<table class="table table-white">

					<thead>

						<tr>

							<th>ID:</th>
							<th>Nombre:</th>
							<th>Operación:</th>
							<th>Operación:</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="a:${listaCiudades}">
							<td th:text="${a.codigoCiudad}"></td>
							<td th:text="${a.nombreCiudad}"></td>

							<td>
							<a th:href="@{/ciudades/eliminar?id=}+${a.codigoCiudad}">Eliminar
							</a>
							</td>
							
							<td>
							<a th:href="@{'/ciudades/irmodificar/'+${a.codigoCiudad}}">Actualizar
							</a>
							</td>
						</tr>

					</tbody>


				</table>
			</div>

		</div>
	</div>
</body>
</html>