<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: #0000FF;" />
		<div>Lista de Eventos</div>
		<hr style="background-color: #0000FF;" />

		<div>

			<div class="table-responsive">
				<table class="table table-white">

					<thead>

						<tr>

							<th>Evento:</th>
							<th>Persona:</th>
							<th>Fecha:</th>
							<th>Operacion</th>
							<th>Operacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u:${listaPersonaEventos}">

							<td th:text="${u.persona.nombrePersona}"></td>
							<td th:text="${u.evento.nombreEvento}"></td>
							<td th:text="${#dates.format(u.fechaPersonaEvento,'dd/MM/yyyy')}"></td>
						
					
						

							<td><a type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{/personaeventos/eliminar?id=}+${u.codigoPersonaEvento}">Eliminar
							</a></td>

							<td><a
								type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{'/personaeventos/irmodificar/'+${u.codigoPersonaEvento}}">Actualizar
							</a></td>


						</tr>

					</tbody>


				</table>
			</div>

		</div>
	</div>
</body>
</html>