<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: #0000FF;" />
		<div>Lista de Tarjetas</div>
		<hr style="background-color: #0000FF;" />

		<div>

			<div class="table-responsive">
				<table class="table table-white">

					<thead>

						<tr>

							<th>Numero de tarjeta:</th>
							<th>Banco:</th>
							<th>Operacion</th>
							<th>Operacion</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="t:${listaTarjetas}">

							<td th:text="${t.numeroTarjeta}"></td>
							<td th:text="${t.banco.nombreBanco}"></td>
							
							<td><a type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{/tarjetas/eliminar?id=}+${t.codigoTarjeta}">Eliminar
							</a></td>
							
								<td><a type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{'/tarjetas/irmodificar/'+${t.codigoTarjeta}}">Actualizar
							</a></td>

						</tr>

					</tbody>


				</table>
			</div>

		</div>
	</div>
</body>
</html>