<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: #0000FF;" />
		<div>Lista de Eventos</div>
		<hr style="background-color: #0000FF;" />

		<div>

			<div class="table-responsive">
				<table class="table table-white">

					<thead>

						<tr>
							
							<th>Nombre del Evento:</th>
							<th>Descripcion:</th>
							<th>Fecha:</th>
							<th>Cantidad de Afectados:</th>
							<th>Magnitud:</th>
							<th>Distrito:</th>
							<th>Epicentro:</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u:${listaEventos}">
						
							<td th:text="${u.nombreEvento}"></td>
							<td th:text="${u.descripcionEvento}"></td>
							<td th:text="${#dates.format(u.fechaEvento,'dd/MM/yyyy')}"></td>
							<td th:text="${u.cantidadAfectados}"></td>
							<td th:text="${u.magnitud.NombreMagnitud}"></td>
							<td th:text="${u.distrito.nombreDistrito}"></td>
							<td th:text="${u.epicentro.radioEpicentro}"></td>
							

						</tr>

					</tbody>


				</table>
			</div>

		</div>
	</div>
</body>
</html>