<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="master/master :: head">
<meta charset="UTF-8">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">
		<hr style="background-color: #0000FF;" />
		<div>Registro de Renovaciones</div>
		<hr style="background-color: #0000FF;" />

		<div>

			<form th:action="@{/renovacionsuscripcions/guardar}" th:object="${r}"
				method="post">


				<div class="col-m-12">
					<label class="form-label">Persona:</label> <select
						name="selectPersona" class="form-control"
						th:field="*{persona.codigoPersona}">
						<option th:each="pe: ${listaPersonas}"
							th:value="${pe.codigoPersona}" th:text="${pe.nombrePersona}"
							th:selected="(${pe.codigoPersona}==*{persona.codigoPersona})"></option>
					</select>
				</div>




				<label for="fechaNacimientoPersona" class="col-sm-2 col-form-label">Fecha
					de Renovacion </label>
				<div class="col-sm-12">
					<input type="date" th:field="*{fechaRenovacion}"
						class="form-control">
					<div th:object="${r}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							<li th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
						</ul>
					</div>
				</div>

			




				<div class="col-m-12">
					<label class="form-label">Codigo tarjeta:</label> <select
						name="selectTarjeta" class="form-control"
						th:field="*{tarjeta.codigoTarjeta}">
						<option th:each="ta: ${listaTarjetas}"
							th:value="${ta.codigoTarjeta}" th:text="${ta.numeroTarjeta}"
							th:selected="(${ta.codigoTarjeta}==*{tarjeta.codigoTarjeta})"></option>
					</select>
				</div>



				<div class="col-m-12">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>

			</form>

		</div>
	</div>
</body>
</html>