<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">

</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">
		<div>
			<form th:action="@{/epicentros/modificar}" th:object="${epic}" method="post">

				<div class="col-sm-12">
					<label class="form-label">ID Epicentro:</label><input type="text"
						th:field="*{idEpicentro}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Latitud:</label><input type="text"
						th:field="*{latitud}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Altitud:</label><input type="text"
						th:field="*{altitud}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Radio Epicentro:</label><input type="text"
						th:field="*{radioEpicentro}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Actualizar" class="btn btn-dark"></input>
				</div>
			</form>
		</div>
	</div>
</body>
</html>