<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: #0000FF;" />
		<div>Lista de Bancos</div>
		<hr style="background-color: #0000FF;" />

		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre de Banco</th>
							<th>Operacion</th>
							<th>Operacion</th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="a:${listaBancos}">
							<td th:text="${a.CodigoBanco}"></td>
							<td th:text="${a.NombreBanco}"></td>
							<td><a type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{/bancos/eliminar?id=}+${a.codigoBanco}">Eliminar
							</a></td>
							<td><a type="button" class="btn btn-secondary" data-dismiss="modal" th:href="@{'/bancos/irmodificar/'+${a.codigoBanco}}">Actualizar
							</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>