<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<hr style="background-color: #0000FF;" />
		<div>Registro de Bancos</div>
		<hr style="background-color: #0000FF;" />

		<div>
			<form th:action="@{/bancos/guardar}" th:object="${b}" method="post">
				<div class="col-sm-12">
					<label class="form-label">Id: </label> <input type="text"
						th:field="*{codigoBanco}" class="form-control"></input>
				</div>

				<label for="nroTarjeta" class="col-sm-2 col-form-label">Banco
					</label>
				<div class="col-sm-12">
					<input type="text" th:field="*{nombreBanco}" class="form-control" />
					<small th:errorclass="'form-control alert-danger'"
						th:if="${#fields.hasErrors('nombreBanco')}"
						th:errors="*{nombreBanco}"></small>
				</div>


				<div class="col-sm-12">
					<input  type="submit" value="Registrar" class="btn btn-dark">
				</div>


			</form>
		</div>

	</div>
</body>
</html>