<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
</head>
<body>

	<header th:replace="master/master :: header"></header>

	<div class="container">

		<hr style="background-color: #0000FF;" />
		<div>Lista de Reporte</div>
		<hr style="background-color: #0000FF;" />

		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>
							<th>Banco</th>
							<th>cantidad de Tarjetas registradas</th>
							

						</tr>
					</thead>
					<tbody>
						<tr th:each="r:${reporteLista}">
							<td th:text="${r[0]}"></td>
							<td th:text="${r[1]}"></td>
							
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>